# Question 1 

#list and it's default functions.

In [2]:
#len() function:

#To find the length of the list we use a len() function as shown below.

In [3]:
L1=[1,2,3,4,5,6,7,8,4.5,6]

In [4]:
L2=["python","mumbai","ML",19.0]

In [5]:
print(len(L1))

10

In [6]:
print(len(L2))

4

In [7]:
#max() function:

#To find the maximum element in the we use a max() function as shown below.

In [8]:
L1=[12,3,4,6,8,39.8,46.8]

In [9]:
print(max(L1))

46.8

In [12]:
#min() functon:

#It return the minimum element of the list

In [13]:
L1=[18,34,56,4,55,8,1]

In [16]:
print(min(L1))

1

In [20]:
#list(seq) function:

#It converts any sequence or datatype into List.

In [21]:
L1=(123,'pay','bill',12.3)

In [22]:
lst1=list(L1)

In [28]:
print("The list elements are:",lst1)
print(type(lst1))

The list elements are: [123, 'pay', 'bill', 12.3]
<class 'list'>

In [29]:
#type() function:

#To identify the type of datatype  we use a type() Function.

In [31]:
T1=[2,3,4,5,6,"hii"]

In [32]:
print(type(T1))

<class 'list'>

In [33]:
#range() function:

#It returns a sequence of numbers,

In [47]:
x=range(0,6)
for n in x:
    print(n)

0
1
2
3
4
5

# Question 2

#Dictionary and it's default functions.

In [1]:
#str() function:

#It convert the dictionary into printable String representation.

In [1]:
dict1={
    "name":"xyz",
    "D.O.B":"01/01/1999",
    "Phoneno":"123456789",
    "Place":"Bangalore"
}

In [2]:
print(type(dict1))

#It return a String representation.

result=str(dict1)
print(type(result))
print("The dictionary is",dict1)

<class 'dict'>
<class 'str'>
The dictionary is {'name': 'xyz', 'D.O.B': '01/01/1999', 'Phoneno': '123456789', 'Place': 'Bangalore'}

In [13]:
#len() function:

#It return the total length of the dictionary.

In [3]:
D={
    "name":"abc",
    "dept":"CSE",
    "phoneno":123456789,
    "place":"mysore"
}

In [4]:
print(D)
print(len(D))

{'name': 'abc', 'dept': 'CSE', 'phoneno': 123456789, 'place': 'mysore'}
4

In [16]:
#type() function:

#It return the type of the datatype.

In [ ]:
A={
    "name":"abc",
    "dept":"CSE",
    "phoneno":123456789,
    "place":"mysore"
}

In [19]:
print(type(A))

<class 'dict'>

In [ ]:
#get:

#It is used to get a the value of the item with the specified key.

In [5]:
A={
    "name":"xyz",
    "branch":"CSE",
    "number":12345678
}

In [6]:
A.get("name")

'xyz'

In [7]:
A.get("branch")

'CSE'

In [8]:
#del

#del keyword removes the items with the specified key name.

In [9]:
dict1={
    "brand":"honda",
    "model":"splender plus",
    "year":"1978"
}

In [10]:
del dict1["model"]

In [11]:
print(dict1)

{'brand': 'honda', 'year': '1978'}

# Question 3

#sets and it's default functions.

In [13]:
#len() function:

#It return the length of the sets.

In [14]:
S={"python",10,23,"23.4"}

In [16]:
print(S)
print(len(S))

{'python', '23.4', 10, 23}
4

In [17]:
#max function:

#It return a largest item present in sets.

In [18]:
A={12,3,4,6,8,34,3.4}

In [19]:
print(A)
print(max(A))

{34, 3, 4, 3.4, 6, 8, 12}
34

In [21]:
#min() fuction:

#It return the minimum item present in sets.

In [22]:
B={2,3,4,5,4.4,7,23.2,0.1,0}

In [45]:
print(B)
print(min(B))

{0.1, 0, 2, 3, 4, 5, 4.4, 7, 23.2}
0

In [29]:
#add 

#It's used to add a element in set.

In [30]:
D={1,2,3,4,5,6,7}

In [32]:
print(D)
D.add(8)
print(D)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8}

In [42]:
#clear()

#It's used to delete a complete sets.

In [43]:
s1={1,2,3,4,5,6,7}

In [44]:
print(s1)
s1.clear()
print(s1)

{1, 2, 3, 4, 5, 6, 7}
set()

# Question 4

#Tuple and it's default methods.

In [58]:
#index() method:

#index() finds the first occurrence of the specified value.

In [59]:
T=(1,2,3,4,5,6,5,7,6,7,3,2,5,2,8,9)

In [60]:
print(T)
x=T.index(6)
x

(1, 2, 3, 4, 5, 6, 5, 7, 6, 7, 3, 2, 5, 2, 8, 9)

5

In [61]:
#len()

# It return the length of the tuple.

In [62]:
A=(1,2,3,4,4,5,5,5,5,6,6,)

In [70]:
print(A)
print(len(A))

(1, 2, 3, 4, 4, 5, 5, 5, 5, 6, 6)
11

In [64]:
#max() function:

#It return the maximum element of the tuple.

In [65]:
B=(1,2,55,7,4,5,88,9,99,90)

In [66]:
print(B)
print(max(B))

(1, 2, 55, 7, 4, 5, 88, 9, 99, 90)
99

In [67]:
#min() function:

#It return the minimum element in the tuple.

In [68]:
C=(15,5,3,4,5,6,3,2,2,)

In [69]:
print(C)
print(min(C))

(15, 5, 3, 4, 5, 6, 3, 2, 2)
2

In [76]:
#sum()

#It return the sum of items in the tuple.

In [78]:
T=(1,2,3,4,5,6,7,8,9)

In [79]:
print(T)
print(sum(T))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
45

In [80]:
#count() method:

#It is used to count the number of times item is present in the tuple.

In [84]:
T=(1,2,3,4,5,2,2,2)

In [85]:
T.count(2)

4

# Question 5

#Strings and it's default methods.

In [87]:
#capitalize() method:

#It returns a copy of the String with only it's first character capitalized.

In [90]:
S="python letsupgrade BAtch "

In [91]:
print(S.capitalize())

Python letsupgrade batch

In [92]:
#isalnum() method:

#It return True if all the characters are alphanumeric.

In [93]:
A= "python 12"

In [94]:
print(A.isalnum())

False

In [95]:
B= "python12"
print(B.isalnum())

True

In [96]:
#isdigit() method:

#It check whether the String consists of digits only.

In [97]:
C= "123456"
print(C)
print(C.isdigit())

123456
True

In [98]:
D= "a1234"
print(D)
print(D.isdigit())

a1234
False

In [99]:
#islower() method:

#This method return true if all cased characters in the String are lower case and 
#there is atleast one cased character,false otherwise

In [100]:
E="Python"

In [101]:
print(E)
print(E.islower())

Python
False

In [102]:
F="python"
print(F)
print(F.islower())

python
True

In [103]:
#isdecimal() method():

#It checks whether the String consists of only Decimal characters.

In [104]:
A="12344"
print(A)
print(A.isdecimal())

12344
True

In [105]:
B="12345g6"
print(B)
print(B.isdecimal())

12345g6
False